/* removes underline */
a {
    text-decoration: none;
  }

/*navigation banner  */
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(19, 98, 98);
   z-index: 1; /*stops the overlapping of nav bar */
  /* padding: 20px; */
}

/* edit content in navigation banner */
nav .nav_content {
  height: 100%;
  max-width: 440px;
  /* margin-left: 20px; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /*manage content in same line*/
}

/* edit logo */
nav .nav_content .logo a {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin-left: -200%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* editing the text of the links */
nav .nav_content .nav_links {
  display: flex;

  /* align-items: right; */
  margin-right: -100%;
}

nav .nav_links li {
  list-style: none;
  margin: 0 10px;
}

nav .nav_links a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

/* editing the container for header */
form
{
    margin-top: 2%;
    text-align: center;
    margin-bottom: -2%;
}

/* editing the heading */
 h1
{
  text-align: center;
  margin-top: 5%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 30px;
   color: rgb(19, 98, 98);
}

/* editing the description under heading */
.headerAcc p
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: rgb(142, 184, 184);
}

.headerAcc span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* editing the description under heading */
form input
{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   color: rgb(142, 184, 184);
}

/* puts columns side by side */
.rows {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32%;
    margin-right: 31%;
}

/* editing the header of text blocks */
form label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(19, 98, 98, 0.737);
    font-weight: 15;
    font-size: 20px;
}



/* editing the footer position */
.footer{
    margin-top: 4%;
}

/* editing the text in the footer */
.footer p{
   font-size: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* editing the footer buttons */
 form button{
  background-color: rgb(19, 98, 98);
  color: white;
  border: 1px solid rgb(19, 98, 98);
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

/* editing the footer buttons */
.footer .loginButton{
  background-color: rgb(255, 255, 255);
  color: rgb(19, 98, 98);
  border: 1px solid rgb(19, 98, 98);
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

/* hover over button feature */
form button:hover{
    background-color: rgb(142, 184, 184);
    color: rgb(19, 98, 98);
}

/* hover over button feature */
.footer .loginButton:hover{
  background-color: rgb(19, 98, 98);
  color: white;
}

/* editing the popup block */
.modal{
  position: fixed;
  top: 50%; /*50% of the screen*/
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /*places it in center 50% of container, scale property makes modal disappear*/
  transition: 200ms ease-in-out;
  border: 3px solid rgb(19, 98, 98);
  border-radius: 10px;
  z-index: 1;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

/* editing modal when it is active */
.modal .active{
  transform: translate(-50%, -50%) scale(1); /*scale increase therefore modal will appear*/
}

/* editing the header of the modal block */
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px groove rgb(142, 184, 184);
}

.modal-header .title{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgba(19, 98, 98, 0.737);
}

.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  /* background: none; */
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 15px;
}

/* editing the background around popup  */
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /*still click whiloe overlay is active*/
}

/* editing the overlay when active */
#overlay .active{
  opacity: 1;
  pointer-events: all;
}

